* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-wrap: balance;
  font-family: "Bricolage Grotesque", sans-serif;
}

:root {
  --nuetral: #ddd;
  --border: 1px solid var(--nuetral);
  --border-hover: 1px solid #888;
  --transition: 200ms linear;
}

/* utilities */
.text-center {
  text-align: center;
}
.mx-auto {
  margin-inline: auto;
}
.flex {
  display: flex;
}
.vertical_center {
  align-items: center;
}
.gap {
  gap: 1rem;
}
.gap2 {
  gap: 2rem;
}
.radius {
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
p {
  margin-block: 0.5rem;
  color: #888;
}
img {
  display: block;
  max-width: 100%;
}
input,
textarea {
  transition: var(--transition);
  padding: 0.5rem 1rem;
  border: var(--border);
  outline: 0;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
input:focus-within,
textarea:focus-within {
  border: var(--border-hover);
}
textarea {
  resize: vertical;
}
button {
  cursor: pointer;
  background: #000;
  color: var(--nuetral);
  padding: 0.6rem 1rem;
  border: var(--border);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
button:hover {
  background: transparent;
  color: #000;
  box-shadow: 0 6px 10px var(--nuetral);
}
li {
  color: #888;
}
.container {
  max-width: 1024px;
  margin-inline: auto;
  margin-block: 5rem;
}
.heading {
  font-size: 2em;
  margin-block: 1rem;
}

/* navbar */
.hamburger {
  display: none;
}
.closeNav {
  display: none;
}
.navOverlay {
  display: flex;
  align-items: center;
}
nav {
  border-bottom: 1px solid var(--nuetral);
  box-shadow: 0 6px 30px var(--nuetral);
  padding-block: 1rem;
}
._navContainer {
  display: flex;
  justify-content: space-between;
  margin-block: 0;
}
._navContainer h1 {
  z-index: 2;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav ul li {
  font-weight: 500;
  padding-inline: 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
nav ul li:hover {
  color: #000;
}
/*  */
main {
  min-height: 100vh;
}

/* header */
header {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

header h1 {
  font-size: 4rem;
}

/* shop */

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 1rem;
}
.card {
  border: var(--border);
  box-shadow: 0 10px 30px var(--nuetral);
  overflow: hidden;
}
.card .details {
  padding: 1rem;
}

/* testimonials */

.testimonial_card {
  padding: 1rem;
  border: var(--border);
  box-shadow: 0 10px 30px var(--nuetral);
}
.testimonial_card img {
  width: 50px;
  height: 50px;
  border-radius: 100vw;
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  -ms-border-radius: 100vw;
  -o-border-radius: 100vw;
}

/* about */

._about {
  display: flex;
}

/* contact */

form {
  margin-inline: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
form button {
  align-self: start;
}

/* footer */
footer {
  margin-top: 5rem;
  border-top: var(--border);
  box-shadow: 0 -6px 30px var(--nuetral);
  padding-block: 1rem;
}
ul {
  list-style: none;
}
._footerContainer {
  margin-block: 0;
  display: flex;
}
.newsLatter {
  flex-direction: row;
  margin-block: 2rem;
}
.copyright {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  /* Navbar */
  .hamburger {
    display: block;
    line-height: 36px;
  }

  .navOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    transition-delay: 400ms;
  }

  .navOverlay.navOpen {
    transition-delay: 0ms;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  nav ul {
    position: relative;
    padding: 1rem;
    padding-block-start: 5rem;
    width: 90%;
    height: 100%;
    gap: 2rem;
    align-items: start;
    flex-direction: column;
    background: #fff;
    transform: translateX(-101%);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    -o-transform: translateX(-101%);
    transition-delay: 0ms;
  }
  .navOpen ul {
    transition-delay: 400ms;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  ul .closeNav {
    display: block;
    top: 1rem;
    line-height: 36px;
    position: absolute;
    align-self: end;
  }

  /* main */
  main,
  nav,
  footer {
    padding-inline: 1rem;
  }
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  ._about {
    flex-direction: column;
  }

  header {
    flex-direction: column;
  }

  /* footer */

  ._footerContainer {
    flex-direction: column;
  }
}
