---
export const prerender = false
import Layout from "../../layout/Layout.astro"
import type { ProductType } from "../index.astro"
import Product from "../../components/Product.astro"

const baseURL = import.meta.env.VERCEL_URL
  ? `https://${import.meta.env.VERCEL_URL}`
  : "http://localhost:4321"

const products = await (
  await fetch(`${baseURL}/api/products`, {
    method: "GET",
    headers: {
      "Content-Type": "application/json"
    }
  })
).json()
---

<Layout title="Shop">
  <section class="container shop">
    <h2 class="heading">Shop</h2>
    <div class="grid">
      {products.map((all: ProductType) => <Product {...all} />)}
    </div>
  </section>
</Layout>

<style>
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .card .details {
    padding: 1rem;
  }
</style>
