---
import Layout from "../../layout/Layout.astro"
import type { ProductType } from "../index.astro"
import Product from "../../components/Product.astro"
import getProducts from "../../utils/getProducts"

const products = await getProducts()
---

<Layout title="Shop">
  <section class="container shop">
    <h2 class="heading">Shop</h2>
    <div class="grid">
      {products.map((all: ProductType) => <Product {...all} />)}
    </div>
  </section>
</Layout>
