---
export const config  = {
    runtime: "edge"
}
import Layout from "../../layout/Layout.astro"
import type { ProductType } from "../index.astro"
import Product from "../../components/Product.astro"
//import getProducts from "../../utils/getProducts"

async function getProducts(count?: number) {
  return await sanity.fetch(
    `*[_type=="products"][0..$count]{
              title,
              "slug":slug.current,
              "image":images[0]{asset->{url}},
          }
          `,
    { count: count || -1 }
  )
}

const products = await getProducts()
---

<Layout title="Shop">
  <section class="container shop">
    <h2 class="heading">Shop</h2>
    <div class="grid">
      {products.map((all: ProductType) => <Product {...all} />)}
    </div>
  </section>
</Layout>
