---
import Layout from "../layout/Layout.astro"
---

<Layout title="About">
  <section class="container about">
    <h2 class="heading">About</h2>
    <div class="_about gap2 align-center">
      <img
        loading="lazy"
        decoding="async"
        src="https://images.unsplash.com/photo-1598316560453-0246d4611979?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=80"
        alt="Saad Khatri"
        class="radius"
      />
      <div>
        <h2>Saad Khatri</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et rem
          praesentium nihil, pariatur hic labore. Veniam quod delectus qui?
          Explicabo.
        </p>
      </div>
    </div>
  </section>
</Layout>

<style>
  ._about {
    display: flex;
  }
</style>
