---
export const prerender = true
import Layout from "../layout/Layout.astro"
---

<Layout title="About">
  <section class="container about">
    <h2 class="heading">About</h2>
    <p class="my-2">
      Welcome to Soneji Creation, where the ancient art of Tie and Dye Bandhani
      comes to life. Our journey began in the heart of Gujarat, India, a place
      steeped in the traditions of textile craftsmanship. For generations, our
      artisans have honed their skills, weaving stories of culture and elegance
      into every piece.
    </p>

    <p class="my-2">
      Each creation at Soneji is a labor of love, meticulously crafted by
      skilled hands. We believe in preserving the heritage of Bandhani, creating
      textiles that not only reflect our dedication to the craft but also tell a
      tale of our rich Indian legacy.
    </p>

    <p class="my-2">
      Explore our range of Bandhani sarees, scarves, and bespoke creations. Each
      piece is a testament to the artistry that defines us.
    </p>
  </section>
</Layout>
