---
export const prerender = true

export type ProductType = {
  slug: string
  image: {
    asset: {
      url: string
    }
  }
  title: string
}

import Layout from "../layout/Layout.astro"
import Product from "../components/Product.astro"
import getProducts from "../utils/getProducts"
const products = await getProducts(2)
---

<Layout title="Home">
  <link
    slot="landingPge"
    rel="preload"
    as="image"
    type="image/webp"
    href="/soneji-creation-logo-white-background.webp"
  />
  <header class="container">
    <img
      loading="eager"
      decoding="async"
      width={500}
      height={160}
      src="/soneji-creation-logo-white-background.webp"
      alt="Soneji Creation Logo"
    />
    <p>Your Gateway to Exquisite Creations</p>
  </header>
  <section class="container mt-1">
    <h1 class="heading">Hot Picks</h1>
    <div class="grid mt-2">
      {products.map((all: ProductType) => <Product {...all} />)}
    </div>
  </section>
</Layout>

<style>
  header {
    min-height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* header h1 {
    font-size: 3.9rem;
    line-height: 0.9;
    letter-spacing: -0.14rem;
    background: linear-gradient(180deg, #555, #000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 1rem;
  } */

  header img {
    aspect-ratio: 1;
    object-fit: cover;
    margin-top: 3rem;
  }

  @media (max-width: 768px) {
    header {
      flex-direction: column;
      /* margin-top: 3rem; */
    }
    .container {
      justify-content: stretch;
    }
  }
</style>
