---
export const prerender = true
import { Image } from "astro:assets"
import Layout from "../layout/Layout.astro"
import Product from "../components/Product.astro"
import sanity from "../components/sanity"


const products = await sanity.fetch(
  `*[_type=="products"][0..2]{
    title,
    "slug":slug.current,
    "image":images[0]{asset->{url}},
  }
  `
)

export type ProductType = {
  slug: string
  image: {
    asset: {
      url: string
    }
  }
  title: string
}
---

<Layout title="Home">
  <header>
    <div>
      <h1>Soneji Creation</h1>
      <p>Your Gateway to Exquisite Creations</p>
    </div>
    <div>
      <Image
        loading="eager"
        decoding="async"
        width={500}
        height={300}
        quality={"low"}
        src="https://as1.ftcdn.net/v2/jpg/03/65/42/54/1000_F_365425497_3RNg4T1W0eDE0tHZSeUHAq3NGWOEGQBA.jpg"
        alt="HeroImage"
      />
    </div>
  </header>
  <section class="container mt-5">
    <h1 class="heading">Hot Picks</h1>
    <div class="grid mt-2">
      {products.map((all: ProductType) => <Product {...all} />)}
    </div>
  </section>
</Layout>

<style>
  header {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  header h1 {
    font-size: 3.65rem;
  }

  header img {
    object-fit: cover;
  }
</style>
