---
export const prerender = true
import Layout from "../layout/Layout.astro"
---

<Layout title="Privacy Policy">
  <div class="container">
    <p style="margin-top:0">
      We value your trust and are committed to safeguarding your privacy. This
      Privacy Policy outlines how we collect, use, and protect your personal
      information. By using our website and services, you consent to the
      practices described in this policy.
    </p>
    <div>
      <h3>Information We Collect</h3>
      <ul>
        <li>
          <strong> Full Name:</strong> We collect your full name to personalize
          your shopping experience and ensure accurate order processing.
        </li>
        <li>
          <strong> Email Address:</strong> Your email address is used for order
          confirmations, updates, and communication regarding your purchases.
        </li>
        <li>
          <strong> Phone Number:</strong> We may contact you via phone for
          order-related matters, such as confirming details or addressing any
          issues.
        </li>
        <li>
          <strong> Full Address:</strong> We require your complete address for
          accurate delivery of your orders.
        </li>
      </ul>
    </div>
    <div>
      <h3>Data Security</h3>
      <p>
        We employ industry-standard security measures to protect your personal
        information from unauthorized access, disclosure, alteration, or
        destruction. Our website is secured with SSL encryption to ensure the
        confidentiality of your data during transmission.
      </p>
    </div>
    <div>
      <h3>Information Usage</h3>
      <ul>
        <li>
          <strong> Order Processing:</strong> Your provided information is used
          for processing and fulfilling your orders accurately.
        </li>
        <li>
          <strong> Communication:</strong> We may contact you via email or phone
          for order-related updates, inquiries, or customer service purposes.
        </li>
        <li>
          <strong> Internal Record Keeping:</strong> We maintain records of your
          orders and interactions with us for internal purposes.
        </li>
      </ul>
    </div>
    <div>
      <h3>No Third-Party Sharing</h3>
      <p>
        We do not share, sell, or disclose your personal information to any
        third-party companies, except as necessary for order processing and
        delivery.
      </p>
    </div>
    <div>
      <h3>Refund Policy</h3>
      <p>
        We offer a 7-day refund policy. If you are not satisfied with your
        purchase, please refer to our Returns Policy for detailed instructions
        on initiating a refund.
      </p>
    </div>
    <div>
      <h3>Cookies</h3>
      <p>
        Our website may use cookies to enhance your browsing experience. You can
        choose to accept or decline cookies through your browser settings.
      </p>
    </div>
    <div>
      <h3>Links to Other Websites</h3>
      <p>
        Our website may contain links to external sites. Please note that we do
        not have control over the content or practices of these sites, and we
        are not responsible for their privacy policies.
      </p>
    </div>
    <div>
      <h3>Changes to Privacy Policy</h3>
      <p>
        Soneji Creation reserves the right to update or modify this Privacy
        Policy at any time. Any changes will be effective immediately upon
        posting on our website.
      </p>
    </div>
    <div>
      <h3>Contact Us</h3>
      <p>
        If you have any questions or concerns about our Privacy Policy or how we
        handle your personal information, please contact us at [contact email or
        form].
      </p>
    </div>
    <p>
      Thank you for entrusting Soneji Creation with your personal information.
      We appreciate your business!
    </p>
  </div>
</Layout>

<style>
  ul {
    /* list-style: none; */
    margin-left: 1rem;
  }

  .container > * {
    margin-block: 1rem;
  }
</style>
