---
export const prerender = true
import Layout from "../layout/Layout.astro"
---

<Layout title="Terms & Conditions">
  <div class="container">
    <div>
      <h3>Introduction</h3>
      <p>
        Welcome to Soneji Creation. These Terms and Conditions govern your use
        of our website and the services provided herein. By accessing or using
        our website, you agree to comply with these terms. Please read them
        carefully.
      </p>
    </div>

    <div>
      <h3>Acceptance of Terms</h3>
      <p>
        By using our website, you acknowledge that you have read, understood,
        and agree to be bound by these Terms and Conditions. If you do not agree
        with any part of these terms, please refrain from using our website.
      </p>
    </div>

    <div>
      <h3>Availability and Geographic Restrictions</h3>
      <p>
        Soneji Creation is currently only available in India. Our services are
        designed exclusively for customers within India. We do not accept orders
        or payments from outside India.
      </p>
    </div>

    <div>
      <h3>Payments</h3>
      <p>
        We currently accept payments through Google Pay. Please note that all
        transactions are subject to the terms and conditions of Google Pay.
        Soneji Creation does not store any payment information.
      </p>
    </div>

    <div>
      <h3>Order Processing</h3>
      <p>
        Upon successful payment, you will receive an order confirmation via the
        email address provided during the checkout process. Please ensure that
        the provided email address is accurate.
      </p>
    </div>

    <div>
      <h3>Shipping and Delivery</h3>
      <p>
        We aim to process and dispatch orders within [X] business days from the
        date of successful payment. Delivery times may vary depending on your
        location within India. Please refer to our Shipping Policy for more
        details.
      </p>
    </div>

    <div>
      <h3>Returns and Refunds</h3>
      <p>
        For information on our returns and refunds policy, please refer to our
        Returns Policy.
      </p>
    </div>

    <div>
      <h3>Intellectual Property</h3>
      <p>
        All content on the Soneji Creation website, including but not limited to
        text, images, graphics, logos, and designs, is the property of Soneji
        Creation and is protected by copyright laws. You may not use, reproduce,
        or distribute any content without prior written consent from Soneji
        Creation.
      </p>
    </div>

    <div>
      <h3>Privacy</h3>
      <p>
        Your privacy is important to us. Please review our Privacy Policy to
        understand how we collect, use, and disclose your personal information.
      </p>
    </div>

    <div>
      <h3>Disclaimer of Warranties</h3>
      <p>
        Soneji Creation provides its services on an "as is" and "as available"
        basis. We do not guarantee that our website will be error-free,
        uninterrupted, or free from viruses or other harmful components.
      </p>
    </div>
    <div>
      <h3>Limitation of Liability</h3>

      <p>
        In no event shall Soneji Creation be liable for any indirect,
        incidental, special, or consequential damages arising out of or in any
        way connected with the use of our website.
      </p>
    </div>

    <div>
      <h3>Changes to Terms and Conditions</h3>
      <p>
        Soneji Creation reserves the right to update, modify, or replace these
        Terms and Conditions at any time. The most current version of the terms
        will be posted on our website.
      </p>
    </div>
  </div>
</Layout>

<style>
  .container > * {
    margin-block: 1rem;
  }
</style>
