---
import { Image } from "astro:assets"
import sanity from "../components/sanity"
import Layout from "../layout/Layout.astro"

const testimonials = await sanity.fetch(`*[_type=="testimonials"]{
  "avatar":avatar{asset->{url}},
  username,
  review
}`)
---

<Layout title="Testimonials">
  <section class="container testimonials">
    <h2 class="heading">Testimonials</h2>
    <div class="grid">
      {
        testimonials.map((elems) => (
          <div class="testimonial_card radius">
            <div class="flex align-center gap">
              {elems.avatar && (
                <Image
                  width={50}
                  height={50}
                  loading="lazy"
                  decoding="async"
                  src={elems.avatar.asset.url}
                  alt="Avatar"
                />
              )}
              <h3>{elems.username}</h3>
            </div>
            <p style="margin-top: 0.5rem;">{elems.review}</p>
          </div>
        ))
      }
    </div>
  </section>
  <section class="container mt-5">
    <h2 class="heading">Write a Review</h2>
    <form class="gap reviewForm">
      <input
        minlength="6"
        required
        placeholder="Username"
        class="username"
        type="text"
      />
      <textarea
        minlength="10"
        rows="5"
        required
        placeholder="Type here"
        class="review"></textarea>
      <button type="submit">Send</button>
    </form>
  </section>
</Layout>

<script>
  const reviewForm = document.querySelector<HTMLFormElement>(".reviewForm")
  const username = document.querySelector<HTMLInputElement>(".username")
  const review = document.querySelector<HTMLInputElement>(".review")

  reviewForm.addEventListener("submit", async (e) => {
    e.preventDefault()

    try {
      const res = await fetch("/api/testimonial", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          _type: "testimonials",
          username: username.value,
          review: review.value,
        }),
      })
      if (res.status === 200) {
        alert("Thanks For Reviewing Us")
        reviewForm.reset()
      }
    } catch (error) {
      alert(error.message)
    }
  })
</script>

<style>
  .testimonial_card {
    padding: 1rem;
    border: var(--border);
    box-shadow: 0 10px 30px var(--nuetral);
  }
  .testimonial_card img {
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
</style>
