<footer>
  <div class="container _footerContainer">
    <img
      loading="eager"
      decoding="async"
      width={400}
      height={200}
      src="/soneji-creation-logo-white-background.webp"
      alt="Soneji Creation Logo"
    />
    <div>
      <form class="newsLatter">
        <input type="text" placeholder="Your E-Mail" />
        <button type="button">Subscribe Now</button>
      </form>
      <div class="grid">
        <div>
          <h3>Parternership</h3>
          <ul>
            <li>Websites</li>
            <li>Social Media</li>
            <li>Branding</li>
          </ul>
        </div>
        <div>
          <h3>About</h3>
          <ul>
            <li>Our Projects</li>
            <li>Careers</li>
          </ul>
        </div>
        <div>
          <h3>Support</h3>
          <ul>
            <li>Support Request</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
      <hr style="margin-top: 2rem" />
      <div class="copyright flex">
        <p>
          All Rights Reserved &copy;Soneji Creation.{new Date().getFullYear()}
        </p>
        <div>
          <a href="/terms-conditions">Terms & Conditions</a>{" | "}
          <a href="/privacy-policy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    margin-top: 8rem;
    border-top: var(--border);
    box-shadow: 0 -6px 30px var(--nuetral);
    padding-block: 1rem;
  }

  footer img {
    object-fit: cover;
  }

  ul {
    list-style: none;
  }
  ._footerContainer {
    padding-top: 0;
    margin-block: 0;
    display: flex;
  }
  .newsLatter {
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .newsLatter input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
  .newsLatter button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #888;
    box-shadow: none;
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copyright a {
    text-decoration: none;
    color: #666;
    transition: var(--transition);
  }
  .copyright a:hover {
    color: #000;
  }
  .copyright > div {
    margin-block: 1rem;
  }
  @media (max-width: 768px) {
    .copyright {
      flex-direction: column-reverse;
      align-items: start;
    }
  }
</style>
