---
import { Image } from "astro:assets"
const { slug, image, title } = Astro.props
---

<a href={`/shop/${slug}`} class="card radius flex flex-column">
  <Image
    quality={"mid"}
    alt={slug}
    src={image.asset.url}
    width={400}
    height={400}
    loading="eager"
  />
  <h2
    style="padding: 1rem; font-size: 1.1rem;"
    class="flex flex-1 align-center"
  >
    {title}
  </h2>
</a>

<style>
  .card {
    border: none;
  }
  .card h2 {
    border: var(--border);
    border-top: none;
    border-radius: 0 0 0.3rem 0.3rem;
  }
  .card img {
    max-width: 100%;
    height: auto;
  }
</style>
