---
import Layout from "../../layout/Layout.astro"
import { sheets } from "../shop/new"
import FilteredOrders from "../../components/FilteredOrders"

const orders = await sheets.spreadsheets.values.get({
  spreadsheetId: import.meta.env.spreadsheetId,
  range: "Orders!A2:I"
})

export const keys: string[] = [
  "fullName",
  "email",
  "phone",
  "address",
  "productId",
  "productTitle",
  "userId",
  "productImg",
  "orderId"
]

export type keysTypes = {
  fullName: string
  email: string
  phone: string
  address: string
  productId: string
  productTitle: string
  userId: string
  productImg: string
  orderId: string
}

const allOrders = !orders.data.values
  ? []
  : orders.data.values.map((values: string[]) => {
      let orderObject: keysTypes = {
        fullName: "",
        email: "",
        phone: "",
        address: "",
        productId: "",
        productTitle: "",
        userId: "",
        productImg: "",
        orderId: ""
      }
      for (let index = 0; index < keys.length; index++) {
        orderObject[keys[index]] = values[index]
      }
      return orderObject
    })
---

<Layout title="Orders">
  <div class="container">
    <h1 class="heading">Orders</h1>
    <div class="grid">
      <FilteredOrders client:load allOrders={allOrders} />
    </div>
  </div>
</Layout>
