@font-face {
  font-family: "Bricolage Grotesque Variable";
  src: url("/bricolagegrotesque-variablefont.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Bricolage Grotesque Variable", ui-sans-serif, system-ui,
    sans-serif;
  text-wrap: balance;
}
li,
p {
  color: #666;
}

:root {
  --nuetral: #ddd;
  --border: 1px solid var(--nuetral);
  --border-hover: 1px solid #888;
  --transition: 200ms linear;
}
main {
  min-height: 85vh;
}
strong {
  color: #000;
}

/* utilities */
.over-hidden {
  overflow: hidden;
}
.heading {
  font-size: 2rem;
}
.text-center {
  text-align: center;
}
.capitalize {
  text-transform: capitalize;
}
.mx-auto {
  margin-inline: auto;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.self-start {
  align-self: start;
}
.gap {
  gap: 1rem;
}
.gap2 {
  gap: 2rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 1.5rem;
}
.mt-5 {
  margin-top: 5rem;
}
.my-2 {
  margin-block: 1.25rem;
}

.radius {
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 1rem;
}
.card {
  border: var(--border);
  box-shadow: 0 10px 30px var(--nuetral);
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

input,
textarea {
  transition: var(--transition);
  padding: 0.5rem 1rem;
  border: var(--border);
  outline: 0;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
input:focus-within,
textarea:focus-within {
  border: var(--border-hover);
}
textarea {
  resize: vertical;
}

button {
  cursor: pointer;
  background: #000;
  color: var(--nuetral);
  padding: 0.6rem 1rem;
  border: var(--border);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
button:hover,
button:focus-visible {
  background: transparent;
  color: #000;
  box-shadow: 0 6px 10px var(--nuetral);
}
button:disabled {
  opacity: 0.5;
}

.container {
  max-width: 1024px;
  margin-inline: auto;
  padding-top: 1rem;
}

form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
form button {
  align-self: start;
}

@media (max-width: 1300px) {
  nav,
  main,
  footer {
    padding-inline: 1rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 768px) {
  ._about {
    flex-direction: column;
  }

  ._footerContainer {
    flex-direction: column;
  }
}
