---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "../../styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{Astro.props.title} | Soneji Creation</title>
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin
      href="/bricolagegrotesque-variablefont.woff2"
    />
    <link
      rel="preload"
      as="image"
      type="image/webp"
      crossorigin="anonymous"
      href="https://sonejicreation.vercel.app/_astro/1000_F_365425497_3RNg4T1W0eDE0tHZSeUHAq3NGWOEGQBA_11gqvh.webp"
    />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
