---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "../../styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{Astro.props.title} | Soneji Creation</title>
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin
      href="/bricolagegrotesque-variablefont.woff2"
    />
    <slot name="landingPage" />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
